body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 10px;
    color: #333;
    background-color: #000;
}

#pageBody {
    background-color: black;
}
#passwordPrompt {
  display: none;
}

input {
    background-color: #001621;
    color: white;
}

#passwordForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1d1d;
}

.button-container {
    background-color: #1d1d1d;
}

.time-slot {
background-color: #1d1d1d;;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}
.day-of-week {
    font-size: 1.5em; 
    text-align: center;
    color: white;
}

.time-slot[data-hour="0"], .time-slot[data-hour="1"], .time-slot[data-hour="2"], 
.time-slot[data-hour="3"], .time-slot[data-hour="4"], .time-slot[data-hour="5"],
.time-slot[data-hour="6"], .time-slot[data-hour="7"], .time-slot[data-hour="8"],
.time-slot[data-hour="12"],
.time-slot[data-hour="19"], .time-slot[data-hour="21"],
.time-slot[data-hour="22"],.time-slot[data-hour="23"] 
{
    display: none;
    /*! color: black; */
}

.day {
    border-right: 1px solid #000;
    padding: 10px;
    background-color: #1d1d1d;
}


.current-day {
    border-left: 4px solid #6c95a7;
    background-color: #3a3a3a;
}

.date {
    margin-bottom: 10px;
	font-size: 1em; 
    text-align: center;
    color: white;
}

.event-active {
    background-color: #0097a7; 
    color: white; 
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #001621;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

button:hover {
    background-color: #0097a7;
}

.time-slot {
    border: none;
    padding: 9px;
    height: 65px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event {
    border: 3px solid #00bcd4;
    padding: 4px;
    border-radius: 8px;
    background-color: #2d3531;
    font-size: 1.2em;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-time {
    font-size: 0.75em;
    color: #aeaaaa;
    margin-bottom: 5px;
}

.event-summary {
    font-size: 0.85em;
    color: #78a6bc;
    
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.modal-content {
    background-color: #464646 !important;
}

.modal-header {
    color: #cacaca !important;
}

h4 {
    color: #c7c7c7 !important;
    font-weight: bold !important;
}

ol {
    color: #fdfdfd !important;
}

p {
    color: white !important;    
}

li {
    color: white !important;
    padding: 6px !important;
}

@media (max-width: 926px) {

.button-container {
        background-color: #1d1d1d;
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        background-color: rgba(255, 255, 255, 0); 
        z-index: 1000; 
        display: flex; 
        justify-content: center; 
        padding: 5px 0; 
    }

    .button-container button {
        margin: 0 3px; 
        padding: 5px 10px; 
        font-size: 0.8em;
        min-width: 70px;
        border-radius: 20px;
    }

    body {
        padding-top: 60px; 
    }
	
    
.time-slot {

    display: flex;
    flex-direction: column; 
    gap: 10px; 
    height: 150px;
    background-color: #1d1d1d;
}
    .event {

    margin-bottom: 10px; 
    width: calc(100% - 8px); 
    height: 115%;
    overflow: visible;
        
}
    
	
.calendar {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}

.day {
    flex: 0 0 100%; 
    scroll-snap-align: start; 
    border-right: 1px solid #e0e0e0; 
    padding: 10px; 
    box-sizing: border-box; 
}

.calendar {
    scroll-behavior: smooth;
    background-color: #1d1d1d;
}

@media screen and (orientation: portrait) {
    .calendar-container {
        max-width: 100%; 
        margin: 0; 
        padding: 0; 
    }

    .button-container {
        background-color: #1d1d1d;
    }
    
    .day-of-week, .date, .event, .event-time, .event-summary {
        font-size: 1.2em; 
        margin-bottom: 34px;
        padding: 0px 30px 0px 30px;
        text-align: center;
        margin-bottom: -10px;
        color: white;
        background-color: #1d1d1d00;
    }

    .landscape-message {
        display: none;
    }

    body {
        display: block;
    }
}

}
   