body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 10px;
    color: #333;
}

.calendar-container {
    max-width: 80%; /* Adjust this value to make the calendar smaller */
    margin: 20px auto; /* Centers the div and adds vertical space */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden; /* Ensures shadows and borders stay within the rounded corners */
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.day {
    border-right: 1px solid #e0e0e0; /* Subtle border for separation */
    padding: 15px;
    box-sizing: border-box;
}

.day:last-child {
    border-right: none; /* Remove border for the last day */
}

.date {
    font-weight: bold;
    margin-bottom: 10px;
}

.event-time {
    font-size: 0.75em; /* Smaller font size for the time */
    color: #555; /* A darker color for better readability */
    margin-bottom: 4px; /* Space between time and title */
}

.event-title {
    font-weight: bold; /* Make the event title stand out */
    /* Other styles can be applied as needed */
}

.event {
    border: 1px solid #00bcd4;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #e0f7fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: left; /* Align text to the left for time and title */
}



button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

button:hover {
    background-color: #0097a7;
}

.current-day {
    border-left: 4px solid #00bcd4;
    background-color: #e0f7fa;
}

/* Responsive Design */
@media (max-width: 768px) {
    .calendar-container {
        max-width: 95%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
