body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #e9e9e9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 59vh;
}

.responsive-header-image {
	width: 100%;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0px; 
    width: 100%; 
}

.title-section {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    max-width: 75%;
    padding: 19px;
}

.rules li {
    text-align: left;    
    font-size: 13px;
    padding: 0px;
    margin: 8px;
    background-color: #303030;
    color: white;
    list-style: circle
    }

.rules {
    margin-left: 7px;
}
.rules li:hover {
    background-color: white;
}
#available-slots {
  text-align: center;
  margin: 25px;
}
.spinner {
  display: none; 
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 30px; 
  height: 30px; 
  animation: spin 1.2s linear infinite; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  z-index: 1000;  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#password-input {
  width: 100%; 
  max-width: 220px;  
  padding: 10px; 
  margin: 0px 0 0 250px; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  border-radius: 4px; 
  position: fixed;
  background-color: #9d9d9d;
}

#login-button {
  padding: 8px; 
  margin: 0 0 0 0px; 
  border: none; 
  background-color: #4CAF50; 
  color: white; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  border-radius: 4px; 
  cursor: pointer; 
  max-width: 82px;
}

#login-button:hover {
  background-color: #45a049; 
}


.container {
    width: 90%;
    max-width: 500px; 
    margin: 0; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


div {
    background-color: #303030;
    padding: 39px; 
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 314px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

select {
    width: calc(100% - 20px);
    padding: 8px; 
    margin-bottom: 3px;
    border-radius: 8px;
    border: 1px solid #dfe3e8;
    font-size: .9em; 
    background-color: #303030;
    color: white;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: .9em; 
    transition: background-color 0.3s ease;
    display: block;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px; 
    background-color: #27ae60;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}


li:hover {
    background-color: #2ecc71;
}

#replacement-dates li {
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    background-color: #76B947; 
    border-radius: 25px;       
    padding: 5px 10px;         
    margin-bottom: 5px;        
}

#replacement-dates li span {
    color: white;              
    flex-grow: 1;              
}

.remove-replacement-button {
    box-sizing: border-box;
    border: none;              
    border-radius: 10%;        
    width: 20px;
    height: 20px;
    cursor: pointer;           
    background-color: #d9534f; 
    color: white;              
    margin-left: 10px;         
}

@media (min-width: 769px) {
    body {
        justify-content: flex-start; 
    }
	
    div {
        margin: 20px 20px 20px 120px;
    }
	.title-section {
        position: absolute; 
        margin-top: 0px; 
        left: 217px;
        top: 21px;
        width: auto;
        margin-left: -53px;
    }

    h1 {
        position: relative; 
        margin: 0 auto; 
    }

    .responsive-header-image {
	width: 29%;
	margin-bottom: 10px;
}
    
    #login-section {
    display: flex;    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 91%;
    max-width: 558px;
    left: 230px; 
    }
    
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px; 
        /*! width: 90%; */
        max-width: 678px; 
        left: 253px;
    }
    
    .remove-replacement-button {
    box-sizing: border-box;
    border: none;              
    border-radius: 92%;        
    width: 24px;
    height: 21px;
    cursor: pointer;           
    background-color: #d9534f; 
    color: white;              
    margin-left: 10px;         
    padding: 0;
}
}


@media (max-width: 768px) {
    body {
        padding: 5px;
        background-color: #000;
    }

    .container, select, button {
        padding: 5px;
        width: 244px;
        margin-left: -13px;
    }

    .spinner {
        height: 100px;
        width: 100px;
        left: 20%
    }

.responsive-header-image {
	width: 35%;
	margin-bottom: 13px;
}

    h1 {
        font-size: 1.4em; 
    }
	
.rules li {
    text-align: left;    
    font-size: 13px;
    padding: 0px; 
    background-color: #303030;
    color: #fcf8f8;
    list-style: circle
    }
    .container {
        margin: 20px auto; 
        width: calc(100% - 10px); 
    }

    h1 {
        text-align: center;
        margin-top: 0px; 
        margin-bottom: auto; 
    }

    #password-input {
  width: 100%; 
  max-width: 243px;  
  padding: 10px; 
  margin: 0 0 0 0px; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  border-radius: 4px; 
  position: static;
  
  font-size: 16px;
}
    
    #login-button {
  top: 15px; 
  padding: 8px; 
  margin: 0 0 0 0px; 
  border: none; 
  background-color: #4CAF50; 
  color: white; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  border-radius: 4px; 
  cursor: pointer; 
  position: relative;
  max-width: 220px;
}
    
    .container > *:last-child {
        margin-bottom: 20px;
    }
    
    label {
        width: 100%;
        font-size: 15px;
    }
    
        .remove-replacement-button {
    box-sizing: border-box;
    border: none;             
    border-radius: 92%;       
    width: 24px;
    height: 21px;
    cursor: pointer;          
    background-color: #d9534f;
    color: white;             
    margin-left: 10px;        
    padding: 0;
}
}


