body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #4a4a4a;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

.container {
    max-width: 90%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 300px; /* This can be adjusted based on your content */
}

h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
    margin: 10px 10px 20px 10px;
}


div {
    background-color: #ffffff;
    padding: 15px; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5em;
}

select {
    width: calc(100% - 20px);
    padding: 8px; 
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #dfe3e8;
    font-size: .9em; 
    background-color: #f9f9f9;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9em; 
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px; 
    background-color: #27ae60;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}

li:hover {
    background-color: #2ecc71;
}

@media (max-width: 768px) {
    body, div, select, button {
        padding: 5px; 
    }

    h1, label, select, button, li {
        font-size: 0.8em; 
    }

    h1 {
        margin-top: 20px; /* Adjust this value to ensure the title doesn't overlap with the content */
        font-size: 23px;
        position: relative; /* Changed from absolute to relative */
        left: 0; 
        transform: none; /* Removed the transform property */
    }

    .container {
     margin: 20px; /* Removed the varying margins for different sides */
    }
}

