body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    min-height: 100vh;
}

h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 1.8em;
    margin: 20px 10px; /* Adjust top and bottom margin as needed */
    width: 100%; /* Full width */
}

.spinner {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the password input */
#password-input {
  width: 100%; /* Makes the input stretch to the full width of its container */
  padding: 10px; /* Adds some space inside the input, making it taller and the text not touch the edges */
  margin: 8px 0; /* Adds some space above and below the input */
  display: inline-block; /* Allows you to specify width and padding */
  border: 1px solid #ccc; /* A light grey border */
  box-sizing: border-box; /* Makes sure padding doesn't affect the overall width */
  border-radius: 4px; /* Slightly rounded corners */
}

/* Style for the login button */
#login-button {
  width: 100%; /* Makes the button stretch to the full width of its container */
  padding: 14px 20px; /* Larger padding to make the button taller and wider */
  margin: 8px 0; /* Adds some space above and below the button */
  border: none; /* No border for the button */
  background-color: #4CAF50; /* A nice shade of green */
  color: white; /* White text */
  text-align: center; /* Centers the text in the button */
  text-decoration: none; /* Removes any underline from text */
  display: inline-block; /* Allows you to specify width and padding */
  font-size: 16px; /* Slightly larger font size */
  border-radius: 4px; /* Slightly rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer when hovered */
}

#login-button:hover {
  background-color: #45a049; /* A darker green for hover effect */
}


.container {
    width: 90%;
    max-width: 500px; /* Adjust max width for larger screens if necessary */
    margin: 0; /* Remove margin to allow centering */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}


div {
    background-color: #ffffff;
    padding: 15px; 
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 271px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5em;
}

select {
    width: calc(100% - 20px);
    padding: 8px; 
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #dfe3e8;
    font-size: .9em; 
    background-color: #f9f9f9;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9em; 
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px; 
    background-color: #27ae60;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}


li:hover {
    background-color: #2ecc71;
}

#replacement-dates li {
    display: flex;             /* Enables flexbox layout */
    justify-content: space-between; /* Spaces text and button apart */
    align-items: center;       /* Centers items vertically */
    background-color: #76B947; /* Example background color, replace with your own */
    border-radius: 25px;       /* Rounded corners for list items */
    padding: 5px 10px;         /* Padding within each list item */
    margin-bottom: 5px;        /* Space between list items */
}

/* Styles for the text within the list items */
#replacement-dates li span {
    /* Add styles for the text here, for example: */
    color: white;              /* Sets the text color */
    flex-grow: 1;              /* Allows the text to take up available space */
}

/* Styles for the remove button within the list items */
.remove-replacement-button {
    box-sizing: border-box;
    border: none;              /* Removes the border */
    border-radius: 10%;        /* Keeps the button round */
    width: 20px;
    height: 20px;
    cursor: pointer;           /* Changes the cursor to indicate it's clickable */
    background-color: #d9534f; /* Sets a different background color for the button */
    color: white;              /* Sets the text color for the button */
    margin-left: 10px;         /* Adds space between the text and the button */ 
}

/* Desktop view */
@media (min-width: 769px) {
    body {
        justify-content: flex-start; /* Align to the top of the viewport */
    }

    h1 {
        position: absolute; /* Take out of flow to align to the left */
        left: 20px; /* Spacing from the left edge */
        top: 20px; /* Spacing from the top edge */
        width: auto; /* Shrink to fit content */
        margin: 0; /* Remove margin */
    }

    .container {
        position: relative; /* Ensure container is positioned relative to body */
        margin-left: 200px; /* Adjust according to the width of your h1 */
        margin-top: 40px; /* Adjust for spacing from the top */
        width: calc(100% - 200px); /* Take remaining width minus h1 width */
        max-width: 800px; /* Adjust max width for larger screens if necessary */
    }
    
    .remove-replacement-button {
    box-sizing: border-box;
    border: none;              /* Removes the border */
    border-radius: 92%;        /* Keeps the button round */
    width: 24px;
    height: 21px;
    cursor: pointer;           /* Changes the cursor to indicate it's clickable */
    background-color: #d9534f; /* Sets a different background color for the button */
    color: white;              /* Sets the text color for the button */
    margin-left: 10px;         /* Adds space between the text and the button */ 
    padding: 0;
}
}


@media (max-width: 768px) {
    /* It's usually better to target specific elements rather than all divs, selects, etc. */
    body {
        padding: 5px;
    }

    .container, select, button {
        padding: 5px;
    }

    h1, label, select, button, li {
        font-size: 0.8em; /* Only do this if you want to change font size for all these elements */
    }

    /* Assuming .container flex-direction is set to column outside of the media query */
    .container {
        margin: 20px auto; /* auto horizontally centers the container */
        width: calc(100% - 10px); /* Full width minus the body padding */
    }

    h1 {
        text-align: center;
        margin-top: 20px; /* Adjust as needed */
        margin-bottom: 0; /* Prevents too much space between the h1 and the form */
    }

    /* You may also want to adjust the margin for the bottom of your form elements to match the top */
    .container > *:last-child {
        margin-bottom: 20px;
    }
    
        .remove-replacement-button {
    box-sizing: border-box;
    border: none;              /* Removes the border */
    border-radius: 92%;        /* Keeps the button round */
    width: 24px;
    height: 21px;
    cursor: pointer;           /* Changes the cursor to indicate it's clickable */
    background-color: #d9534f; /* Sets a different background color for the button */
    color: white;              /* Sets the text color for the button */
    margin-left: 10px;         /* Adds space between the text and the button */ 
    padding: 0;
}
}


